---
import type { CollectionEntry } from 'astro:content';
import PostCard from './PostCard.astro';

export interface Props {
  posts: CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;
---

<div class="post-list">
  {posts.map((post) => <PostCard post={post} />)}
</div>

<style>
  .post-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
</style>
